{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register-container">
    <h2>Create Your Account</h2>
    <form action="#">
      <input type="text" placeholder="Full Name" required />
      <input type="email" placeholder="Email Address" required />
      <input type="text" placeholder="Phone Number" required />
      <input type="password" placeholder="Create Password" required />
      <input type="password" placeholder="Confirm Password" required />
      <button type="submit">Register</button>
      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </form>
  </div>
</body>
</html>